<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><%=image_tag "blog.png", :size => "140x140" %></li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><%=image_tag "GitHubSquare.png", :size => "140x140" %></li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><%=image_tag "Google-Plus-Logo-Square.jpg", :size => "140x140" %></li>
  
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1"><%=image_tag "name.png", :size => "300x140" %></li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="2"><%=image_tag "me.jpg", :size => "300x300" %></li>
 
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"><%=image_tag "linkedin-logo-square-copy.png", :size => "140x140" %></li>
    <li data-row="2" data-col="4" data-sizex="2" data-sizey="1"><%=image_tag "email.png", :size => "300x140" %></li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"><%=image_tag "FacebookSQUARE.png", :size => "140x140" %></li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><%=image_tag "twitter_square.png", :size => "140x140" %></li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"><%=image_tag "resume.png", :size => "140x140" %></li>
  </ul>
</div>
